body{
width: 100%;
height: 100%;
}

body:target{
background-color: red;
}

a{
  font-size: 25px;
  text-decoration:none;
  background-color: orange;
  padding: 3%;
  border-radius: 10px;
  border: 3px solid orange;
}


.box1{
  display: flex;
  display: inline-flex;
  border: 1px solid red;
  background-color: lightgray;
  width:40%;
  height:400px;
  margin-top: 1%;
  margin-left: 10%;
}


.innerbox1{
text-align: center;
max-height: 80%;
padding:2% 2% 2% 2%;
margin-top: 7%;
}

.innerbox1 img{
  width: 50%;
  height: 40%;
}

.box2{
  display: flex;
  display: inline-flex;
  border: 1px solid red;
  background-color: lightgray;
  width:40%;
  height:400px;
  margin: 1%;
}

.innerbox2{
text-align: center;
max-height: 80%;
padding:2% 2% 2% 2%;
margin-top: 7%;
}

.innerbox2 img{
  width: 50%;
  height: 40%;
}

.modal1{
opacity: 0;
background-color: rgba(144, 238, 144, .25);
width: 100%;
height: 100%;
position: absolute;
top:0;
pointer-events: none;
}

.modal1:target{
  pointer-events: all;
  animation: animodal1 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes animodal1 {
25% {opacity: .25}
50% {opacity: .50}
75% {opacity: .75}
100% {opacity: 1}
}

.innermodal1{
  background-color: orange;
  text-align: center;
  align-content: center;
  width: 60%;
  height: 50vw;
  margin-left: 17%;
}

.modaltxt{
  margin-left: 29%;
  width: 40%;
}

.innermodal1 h2{
background-color:red;
color: white;
}

.innermodal1 p{
  background-color:lightgray;
  width: 25%;
  position: absolute;
}

.innermodal1 img{
width: 45%;
}

/* MODAL 2 CSS */
.modal2{
opacity: 0;
background-color: rgba(173, 216, 230, .75);
width: 100%;
height: 100%;
position: absolute;
top:0;
pointer-events: none;
}

.modal2:target{
  pointer-events: all;
  animation: animodal2 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes animodal2 {
25% {opacity: .25}
50% {opacity: .50}
75% {opacity: .75}
100% {opacity: 1}
}

.innermodal2{
  background-color: orange;
  text-align: center;
  align-content: center;
  width: 60%;
  height: 50vw;
  margin-left: 17%;
}

.innermodal2 h2{
background-color:purple;
color: white;
}

.innermodal2 p{
  background-color:lightgray;
  width: 25%;
  position: absolute;
}

.innermodal2 img{
width: 45%;
}



}
