

/* This is the city section */

table, th, td {
  border: 1px solid;
  width:40%;
  text-align: center;
  background-color:yellow;
  table-layout : fixed;
  }

  td {
    border: 1px solid;
    width:40%;
    text-align: center;
    background-color:lightpink
    }

.menu {
color:blue;
text-align: center;
}

.city{
font-size: 12px;
border: 5px solid orange;
float: left;
text-align: center;
margin: 1% 1% 1% 1%;
padding-bottom: 1%;
width: 30%;
}

.p1{
font-family: arial;
color: hotpink;
}

.p2{
font-family: courier;
color: pink;
}

.p3{
font-family: corsiva;
color: lightpink;
}

.textandbutton{
  border: solid red;
  border-width: medium;
}
