  /* I got this comment by pressing CTRL + forward slash */
}
/* This style will change all h1 elements */
.news1,.news2,.news3,.news4{
  font-family: monospace;
  font-size: 20px;
  border-raidus: 10%;
  box-shadow: 10px 12px 1px lightblue;
  width: 30%;
  height:300px
  margin: 10px 1px 30px 1px;
  }


.newyearstyle, #newyearstyle{
  font-size: 20px;
  color:red;
  border:5px solid red;
  float:left;
  margin: 10% 100px 130px 20%;

  }

.valentineselector, #valentinestyle{
  text-align: center;
  text-decoration: overline underline;
  font-size: 30px;
  color:pink;
  border: 10px solid hotpink;
  border-radius: 50%;
  margin: 10px 10px 30px 30px;
  padding: 20%;
  }

.aprilselector, #aprilfoolsstyle{
  color:green;
  font-family: cursive;
  border: 12px
  text-decoration: overline underline;
  font-size: 30px
  }

.easterselector, #easterstyle{
  color:purple;
  text-decoration: overline underline;
  font-size: 30px
  }

  .holidayselector, h1, #newstyle{
    color:orange;
    .background-color:lightblue;
    font-size:100px;
    font-weight:bold;
    border: 20px dashed hotpink;
    width:100%;
    }

  .blueStyle, #defaultparagaph{
    color:lightblue;
    font-size:50px;
    font-weight:bold;
    border: 10px solid red;
    width:50%;
    }

    .test1, #defaultparagaph{
      font-size: 60px;
      font-style: italic;
      background-color: lightgreen;
      font-weight:bold;
      text-shadow: -10px -12px 13px orange;
      border: 8px solid blue;
      padding: 50px 10px 100px 30px;
      margin: 10% 30%;
      color: violet;
